<!--&lt;!&ndash; Symbol Selection Screen &ndash;&gt;-->
<!--<div *ngIf="choice" id="intro-screen" class="text-center my-4">-->
<!--  <h2>Choose your symbol:</h2>-->
<!--  <button type="button" class="btn btn-outline-primary m-2" (click)="x_chosen()">X</button>-->
<!--  <button type="button" class="btn btn-outline-primary m-2" (click)="o_chosen()">O</button>-->
<!--</div>-->

<!--&lt;!&ndash; Enemy Selection Screen &ndash;&gt;-->
<!--&lt;!&ndash;<div *ngIf="enemyChoice" id="enemy-screen" class="text-center my-4">&ndash;&gt;-->
<!--&lt;!&ndash;  <h2>Play against:</h2>&ndash;&gt;-->
<!--&lt;!&ndash;  <button type="button" class="btn btn-outline-success m-2" (click)="playWithHuman()">Human</button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button type="button" class="btn btn-outline-warning m-2" (click)="playWithCpu()">CPU</button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash; Game Screen &ndash;&gt;-->
<!--<div *ngIf="gameStarted" id="game-screen" class="text-center my-4">-->
<!--  <table class="mx-auto">-->
<!--    <tbody>-->
<!--    <tr *ngFor="let row of [0,1,2]">-->
<!--      <td *ngFor="let col of [0,1,2]">-->
<!--        <button type="button"-->
<!--                class="btn btn-outline-dark cell"-->
<!--                [id]="'cell' + row + col"-->
<!--                (click)="handleMove(row, col)">-->
<!--          {{ board[row][col] }}-->
<!--        </button>-->
<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->

<!--  <button class="btn btn-danger mt-3" (click)="restart()">Restart</button>-->
<!--</div>-->

<div class="container" id="main">
  <span id="turn">Tic Tac Toe</span>

  <p>{{theWinner}}</p>
  <div class="box" (click)="setPosition(0)" style="border-left: 0; border-top: 0" id="box1">{{ array[0] }}</div>
  <div class="box" (click)="setPosition(1)" style="border-top: 0" id="box2">{{ array[1] }}</div>
  <div class="box" (click)="setPosition(2)" style="border-top: 0; border-right: 0" id="box3">{{ array[2] }}</div>
  <div class="box" (click)="setPosition(3)" style="border-left: 0" id="box4">{{ array[3] }}</div>
  <div class="box" (click)="setPosition(4)" id="box5">{{ array[4] }}</div>
  <div class="box" (click)="setPosition(5)" style="border-right: 0" id="box6">{{ array[5] }}</div>
  <div class="box" (click)="setPosition(6)" style="border-left: 0; border-bottom: 0" id="box7">{{ array[6] }}</div>
  <div class="box" (click)="setPosition(7)" style="border-bottom: 0" id="box8">{{ array[7] }}</div>
  <div class="box" (click)="setPosition(8)" style="border-right: 0; border-bottom: 0" id="box9">{{ array[8] }}</div>
</div>

<button class="btn btn-rounded" id="replay" (click)="reset()">Play Again</button>
